/* body{
    background-color: aqua;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; */
}


.inter-font- {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>;
  font-style: normal; */
}

header {
    background-color: #FFFFFF;
    /* border: 1px solid red; */
    padding-top: 16px;

}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding: 0 120px;
}

nav ul {

    gap: 32px;
    list-style: none;
    display: flex;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;


}

.nav-button {
    padding: 12px 16px;
    background-color: #469165;
    border-radius: 4px;

}

#banner {
    height: 674px;
    justify-content: center;
    display: flex;
    background-size: cover;
    align-items: center;
    background-position: center;
    text-align: center;
    background-image: url("../assets/hero-bg.png");

}

.banner-container {
    text-align: center;
    padding: 154px 341px;

}

.banner-container .early-access {
    font-size: 16px;
    background-color: #ffffff;
    padding: 8px 12px;
    font-weight: 183px;
    border-radius: 1000px;
    margin-bottom: 16px;
    color: #469165;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}


.banner-container .early-access .dot {
    width: 10px;
    height: 10px;
    background-color: #469165;
    border-radius: 50%;
    display: inline-block;
}

.banner-container h1 {
    margin-top: 20px;
    color: #ffffff;
    font-size: 72px;
    font-weight: 700px;

}

.banner-container p {
    font-size: 18px;
    margin-top: 16px;
    color: #ffffff;

}

.banner-container .hero-buttons {
    gap: 16px;
    display: flex;
    margin-top: 32px;
    justify-content: center;

}

.banner-container .hero-buttons .start-btn {
    font-size: 16px;
    color: #ffffff;
    padding: 12px 16px;
    border-radius: 4px;
    font-weight: 251px;
    background-color: #469165;
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 10px;

}

.banner-container .hero-buttons .work-btn {
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 16px;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

#doontfail {
    margin-top: 45px;
}


#doontfail .doontfail-container .doontfail-header {
    text-align: center;


}


#doontfail .doontfail-container .doontfail-header h2 {
    font-size: 48px;
    margin-bottom: 16px;
    font-weight: 700;
    color: #001931;
}


#doontfail .doontfail-container .doontfail-header P {
    font-size: 16px;
    color: #627382;
    line-height: 20px;

}

#doontfail .doontfailcards {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.doontfail-item {
    padding: 24px;
    font-style: semibold;
    text-align: center;
    margin-top: 44px;
    max-width: 322px;
    max-height: 300px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    gap: 16px;
    padding: 24px;
}

.doontfail-item .icon-bubble {
  width: 60px;
  height: 60px;
  background-color:  rgba(249, 85, 85, 1);
  border-radius: none;
  display: flex;
  margin: 0 auto 16px auto;
  align-items: center;
  justify-content: center;
}

.doontfail-item h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #001931;
  text-transform: capitalize;
  text-align: center;
}

.doontfail-item p {
  font-size: 16px;
  text-align: center;
  color: #627382;
}


